fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
pypdf
python-dotenv
sqlalchemy
sse-starlette
beautifulsoup4
requests
pandas
openpyxl
youtube-transcript-api
groq
numpy
sentence-transformers
